* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}


:root {
    --body-color: rgba(250, 250, 250);
    --color: var(--body-color);
    --text-color-second: rgba(37, 37, 37);
    --first-color: #d049f2;
    --first-shadow: rgba(0, 0, 0, 0.1);

    --box-color: #fff;
    --nav-color: #fff;
    --nav-icon: #000;
    --logo-color: #000;

    --text-color: #444444;
    --color-white: #242526;
    --icon-color: #242526;
    --mode-color: #d049f2;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);


}

/* ----------------Dark mode On--------------- */
body.dark {
    --body-color: #141212;
    --box-color: #fff;
    --project-box-color: #fff;
    --nav-color: #262425;
    --color-white: #fff;
    --text-color: #d049f2;
    --logo-color: #f9f4f4;
    --icon-color: #d049f2;
    --mode-color: #fff;


}

body.dark .featured-text .text-info {
    -webkit-text-fill-color: #fff;
}

body.dark .project-box h3 {
    -webkit-text-fill-color: #fff;
}

body.dark #header {
    background-color: #141212;
    opacity: .7;
}

body.dark .navbar {
    background-color: #000000bd;
}

body.dark .navbar a {
    color: var(--first-color);
}

body.dark .navbar .active:first-child {
    color: #fff;
    border-color: #fff;
}

body.dark .navbar a:hover {
    color: #fff;
    border-color: #fff;
}

/* -------Dark mode End----------- */

.toggle_btn {
    color: var(--text-color);
}


.container {
    width: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/* navbr */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li {
    list-style: none;

}


a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
}

a:hover {
    color: var(--first-color);
    border-bottom: 3px solid var(--first-color);
    transition: .2s ease-in-out;
    animation: brdr .4s ease-in-out;
}

header {
    position: relative;
    background-color: #fc9d9d;
    z-index: 999;
}

.navbar {
    position: fixed;
    background-color: #ffffffad;
    display: flex;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 23px 2px rgb(91 57 57 / 10%);

}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
    display: none;
    margin: 0 0px 8px 0px;
}

.navbar .active {
    color: var(--first-color);
    border-bottom: 3px solid var(--first-color);
}

.action_btn {
    background-color: orchid;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: .8rem;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 3rem;
    top: 60px;
    height: 0;
    width: 300px;
    color: white;
    backdrop-filter: blur(14px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 0 2px 3px rgba(255, 255, 255, 0.1);
}

.dropdown_menu.open {
    height: 250px;
}

.dropdown_menu li {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* -----Mode------ */
.mode {
    display: flex;
    align-items: center;
    margin-right: -2px;

}

@media(max-width:972px) {

    .navbar {
        width: 100%;
        padding-left: 20px;
        position: fixed;
    }

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        background-color: rgb(68, 62, 67);
        color: #fff;
        opacity: .8;
        box-shadow: 0px 0px 15px 1px black;
        transition: .6s ease-out;
    }

    a {
        color: #fff;
    }
    .active{
        color: var(--first-color);
        border-bottom: 2px groove var(--first-color);
    }
    .logo img {
        height: 40px;
        margin-right: 20px;
    }
}


.moon-sun {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: white;
    height: 15px;
    width: 15px;
    margin-right: 20px;
    border-radius: 30px;


}

.moon-sun img {
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px 3px var(--first-color);

}

.moon-sun img:hover {
    height: 23px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 2px rgb(232, 237, 234);
}


/* ------wrapper-------- */
.wrapper {
    padding-inline: 10vw;

}

/* --------------box} */
.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;

}

/*----------------Featured text -------- */

.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    min-height: 100vh;
    flex-direction: column;
    width: 80%;
    padding-left: 20px;

}

.featured-text .hello {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20x;
    color: var(--text-color);
}

.featured-name {
    font-size: 50px;
    font-weight: 500;
    margin-block: 20px;
    color: var(--first-color);
    margin-bottom: 10px;
}

.typedText {
    font-family: sans-serif;
    color: #d049f2;
    font-size: 38px;
    font-weight: 600;
    text-transform: capitalize;

}

.text-info {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}

.text-info span {
    font-size: 24px;
}

.text-btn {
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    gap: 20px;

}

.text-btn .btn {
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.btn {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--first-color);
    font-weight: 600;
    transition: all .5s ease;
    color: white;
}

.btn i {
    margin-right: 10px;
}

.btn.hire-btn {
    box-shadow: 0px 2px 2px 2px rgba(6, 5, 5, 0.401);

}

.btn.download {
    background-color: transparent;
    color: var(--text-color);
    box-shadow: 0px 2px 2px 2px var(--first-color);
}

i {
    font-size: 16px;
}

/* -------Social icons--- */

.social {
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    gap: 25px;
}

.social .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--icon-color);
    border-radius: 50%;
    box-shadow: 0px 1px 5px 3px var(--first-color);
}

.social .icon i {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}

.social .icon i:hover {

    font-size: 22px;
    transition: .4s ease;
    cursor: pointer;
}

.icon-circle {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    margin-top: 15px;
    border-radius: 50px;
    animation: iconSlide 5s infinite alternate;
}

@keyframes iconSlide {
    20% {
        border: 2px solid #e6d12e;
        left: 14px;
    }

    40% {
        border: 2px solid #c40101;
        left: 70px;
    }

    60% {
        border: 2px solid var(--first-color);
        left: 125px;
    }

    80% {
        border: 2px solid #47ea15;
        left: 181px;
    }

    100% {
        border: 2px solid teal;
        left: 236px;
    }
}

.social:hover .icon-circle {
    animation-play-state: paused;
    cursor: pointer;
}

/* --------Featured image--------- */
.featured-image {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 80vh;
    width: 100%;
}

.image {
    margin-top: 10%;
    width: 500px;
    height: 700px;
    box-sizing: border-box;
    overflow: hidden;
    animation: imgFloat 5s ease-in-out infinite;
}

.image img {
    width: 500px;
    height: 700px;
    object-fit: cover;
}

@keyframes imgFloat {
    50% {
        transform: translateY(50px);
    }
}

/* ---------Main--------- */
.section {
    padding-block: 3em;

}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.col {
    display: flex;
    width: 50%;


}

.top-header {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 28px;

}

.top-header h1 {
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 45px;
}

.top-header span {
    font-size: 20px;
}

/* =--======About info======== */
.aboutinfo {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 45px 45px;
    padding-inline: 35px;
    background-color: transparent;
    box-shadow: 0px 3px 10px 2px var(--first-color);
    border-radius: 20px;
}

.about-me * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.aboutinfo figcaption {
    width: 100%;
    padding: 25px;
    position: relative;
}

.about-me .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 20px;
    z-index: 1;
    background-color: #fff;
    max-width: 90px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.about-me h2 {
    color: var(--text-color);

}

.about-me p {
    margin-top: 10px;
    color: var(--text-color);
}

.aboutinfo .about-me-btn {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: var(--first-color);
    color: white;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 20px;
    transition: all .5s ease;
}

/* --------Skill Box-------------- */
.skill {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: transparent;
    box-shadow: 0px 3px 10px 2px var(--first-color);
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.skill .skill-box {
    width: 100%;
    margin: 20px 0;
}

.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background-color: rgba(0, 0, 0, 0.1);

    color: var(--text-color);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: var(--first-color);

    animation: progress .4s ease-in-out forwards;
    opacity: 0;
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -25px;
    font-size: 12px;
    color: #fff;
    padding: 2px 6px;
    border-radius: 20px;
    background-color: var(--first-color);
    z-index: 1;
}

.tooltip::before {
    content: "";
    position: absolute;
    bottom: -2px;
    margin-left: 5px;
    height: 10px;
    width: 10px;
    background-color: var(--first-color);
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;

}

.skill-per.html {
    animation-delay: .2s;
    transition: .2s;
    width: 90%;
}

.skill-per.css {
    animation-delay: .5s;
    width: 80%;
}

.skill-per.js {
    animation-delay: 0.8s;
    width: 70%;
}

.skill-per.bts {
    animation-delay: 1s;
    width: 85%;
}

.skill-per.sql {
    animation-delay: 1s;
    width: 75%;
}


@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ----------Projetcs------------ */
.project-container {

    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 10px 2px var(--first-color);
    overflow: hidden;
    cursor: pointer;
}

.project-box>i {
    font-size: 50px;
    color: var(--first-color);
    margin-bottom: 25px;

}

.project-box label {
    font-size: 15px;
    color: var(--text-color);
}

.project-box::after,
.contact-info::after {

    content: "";
    position: absolute;
    bottom: -100%;
    background-color: var(--first-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: .1;

}

.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after {
    bottom: 0;

}

.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label {
    color: #fff;
    z-index: 2;
}



/* ---------Conatct box----------- */
.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 20px 40px;
    width: 100%;
    height: 380px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 10px 2px var(--first-color);
    overflow: hidden;
    cursor: pointer;
}

.contact-info>h2 {
    color: var(--text-color);
    margin-bottom: 20px;

}

.contact-info>p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    margin-block: 5px;
}

.contact-info::after {
    color: var(--first-color);

}

.project-box::after {
    color: white;
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
    color: #fff;
    z-index: 2;

}

/* ---------Conatct form----------- */
.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}

.form-inputs {
    display: flex;
    gap: 10px;
    width: 100%;

}

.input-field {
    width: 50%;
    height: 55px;
    background-color: transparent;
    border: 2px solid #a6a5a5;
    padding-inline: 20px;
    border-radius: 10px;
    outline: none;
}

.input-subject {
    width: 100%;
    height: 55px;
    border: 2px solid #aaa;
    background-color: transparent;
    outline: none;
    color: var(--text-color);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px 20px;
}

textarea {
    width: 100%;
    height: 250px;
    background-color: transparent;
    border: 2px solid #aaa;
    padding: 15px 20px;
    color: var(--text-color);
    border-radius: 10px;
    outline: none;
    resize: none;


}

.form-button>.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    border: none;
    background-color: var(--first-color);
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.form-button i {
    font: 18px;
    rotate: -45deg;
    margin-left: 10px;
}

/* ------footer box--------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background-color: var(--body-color);
    padding-block: 40px 60px
}

.middle-footer .footer-menu {
    display: flex;

}

.footer-menu-list {
    list-style: none;
}

.footer-menu-list a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    margin-inline: 20px;
}

.footer-menu-list a:hover {
    color: firebrick;

}

.footer-social-icons {
    display: flex;
    gap: 30px;
    color: var(--color-white);

}

.footer-social-icons i {
    font-size: 19px;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.footer-social-icons i:hover {
    font-size: 20px;
    transition: .3s ease;
    cursor: pointer;
}

.bottom-footer {
    font-size: 16px;
    margin-top: 10px;
    color: var(--color-white)
}

/* -------Bottum up------- */
.up {
    display: flex;
    width: 100%;
    padding: 0 40px;
    justify-content: flex-end;
    margin-left: 90%;
    margin-top: -10%;
}

.up span {
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0px 0px 21px 6px var(--first-color);
}

.up span i {
    padding: 14px;
    font-size: 18px;
    color: var(--first-color);
    cursor: pointer;
    scrollbar-width: smooth;
}

.up span i:hover {
    font-size: 20px;
}


/* -------------media queries--------------- */
@media only screen and (max-width:1024px) {
    .featured-text {
        padding: 0;
    }

    .featured-image {
        margin-left: 100px;
    }

    .image,
    .image img {
        width: 320px;
        height: 320px;

    }
}

@media only screen and (max-width:900px) {

    .nav-menu.responsive {
        left: 0;
    }

    #header {
        min-width: 100px;
    }

    .nav-menu {
        position: absolute;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(250, 250, 250, .7);
        backdrop-filter: blur(5px);
        width: 300px;
        border-radius: 0px 30px 0px 30px;
        min-height: 450px;
        height: 100vh;
        transition: .3s;
    }

    .nav-menu-list {
        flex-direction: column;
        text-decoration: none;
        background-color: rgba(155, 19, 155, 0.857);
        overflow-wrap: wrap;
    }

    .nav-menu-list li {
        text-decoration: none;
        list-style-type: none;
        overflow-wrap: initial;
        padding: 0px 0px 0px 0px;

    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
    }

    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 80vh;

    }


    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: center;
        min-height: 40vh;

    }

    .social {
        margin-top: 2em;

    }

    .featured-image {

        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin: 0;

    }

    .image,
    image img {
        width: 190px;
        height: 190px;
        margin: 100px 0px 58px 0px;
        border-radius: 50%;
        box-shadow: 0px 0px 25px 2px var(--first-color);
    }

    .image img {
        width: 320px;
        height: 320px;
        padding-right: 115px;

    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .aboutinfo,
    .contact-info {
        width: 100%;
    }

    .project-container {
        justify-content: center;
    }

    .project-box {
        width: 80%;

    }

    .mode {
        display: flex;
        align-items: center;
        margin-left: 60%;
    }
}

@media only screen and (max-width:540px) {
    nav {
        max-width: 400px;
    }

    .featured-name {
        font-size: 40px;
    }

    .project-box {
        width: 100%;
    }

    .form-inputs {
        flex-direction: column;

    }

    .input-field {
        width: 100%;
    }

    .mode {
        margin-left: 16px;
    }

    .logo .name-logo {
        height: 24px;
        width: 24px;
    }
}

@media only screen and (max-width:650px) {
    .mode {
        display: flex;
        align-items: center;
        margin-left: 40%;
    }
}

@media only screen and (max-width:350px) {
    .mode {
        display: flex;
        align-items: center;
        margin-left: 15%;
    }
}

@media(max-width:900px) {
    .up {
        margin-left: 40%;
        margin-top: -10%;
        z-index: 999;
    }

}

@media(max-width:800px) {
    .up {
        margin-left: 15%;
        margin-top: -10%;
        z-index: 999;
    }
}

@media(max-width:600px) {
    .up {
        margin-left: 0%;
        z-index: 999;
    }
}